<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校教学平台</title>

    <link href="../../../static/common/img/icon.jpg" rel="icon">
    <link href="../../../static/common/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/common/css/icons.css" rel="stylesheet">

    <script src="../../../static/common/js/bootstrap.min.js"></script>
    <script src="../../../static/common/js/jquery.min.js"></script>
    <script src="../../../static/common/js/popper.min.js"></script>
    <script src="../../../static/common/js/hsycmsAlert.js"></script>
    <link rel="stylesheet" href="../../../static/common/css/hsycmsAlert.css">
    <link href="../../static/common/img/icon.jpg" rel="icon">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top shadow">
    <a class="navbar-brand" href="../../../">
        <img src="../../../static/common/img/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" id="toggle-button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse row" id="collapsibleNavbar">
        <ul class="navbar-nav col-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../../course/index/">课程列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../user/myResource/">我的资源</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../help/">使用帮助</a>
            </li>
        </ul>
        <ul class="col-2"></ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <input type="text" class="form-control" placeholder="请输入您想查找的课程">
            </li>
        </ul>
        <ul class="col-2"></ul>
        {#        <ul class="navbar-nav col-auto">#}
        {#            <li class="nav-item dropdown" id="notification">#}
        {#                <a class="nav-link" href="../../../user/myNotification/"><span class="icon-bar-notification">通知<span#}
        {#                        class="bdge badge-primary" style="margin-left: 2px;"></span></span></a>#}
        {##}
        {#                <div class="dropdown-menu" id="notification-menu">#}
        {#                    <a class="dropdown-item" href="#">通知 1</a>#}
        {#                    <a class="dropdown-item" href="#">通知 2</a>#}
        {#                    <a class="dropdown-item" href="#">通知 3</a>#}
        {#                </div>#}
        {#            </li>#}
        {#            <li class="nav-item dropdown" id="profile" style="cursor: pointer; margin-left: 10px;">#}
        {#                <img src="../../../static/common/img/default-profile.jpg" alt="logo" style="border-radius: 100%;"#}
        {#                     width="50" height="50">#}
        {#                <div class="dropdown-menu" id="profile-menu">#}
        {#                    <a class="dropdown-item" href="../../../user/myCourse">#}
        {#                        <span class="icon-bar-course">我的课程</span>#}
        {#                    </a>#}
        {#                    <a class="dropdown-item" href="../../../user/myResource">#}
        {#                        <span class="icon-bar-resource">我的资源</span>#}
        {#                    </a>#}
        {#                    <a class="dropdown-item" href="../../../user/myForum">#}
        {#                        <span class="icon-bar-forum">我的论坛</span>#}
        {#                    </a>#}
        {#                    <a class="dropdown-item" href="../../../user/setting">#}
        {#                        <span class="icon-bar-setting">个人设置</span>#}
        {#                    </a>#}
        {#                </div>#}
        {#            </li>#}

        </ul>
    </div>

</nav>
<div style="margin-top:100px">
    <h1>修改密码</h1>

    <div class="container">
        <div class="form-group">
            <label for="prepasswd">新密码:</label>
            <input type="password" class="form-control" id="prepasswd">
        </div>
        <div class="form-group">
            <label for="newpasswd">确认密码:</label>
            <input type="password" class="form-control" id="newpasswd">
        </div>
        <input type="button" class="btn btn-primary" id="modify" value="修改">
        <h2 id="hint"></h2>
    </div>

    <script>
        $('#modify').click(function () {


            let prepasswd = $("#prepasswd").val();
            let newpasswd = $("#newpasswd").val();
            var all_number2 = new RegExp("^[0-9]*$").test(prepasswd);
            var all_number1 = new RegExp("^[0-9]*$").test(newpasswd);
            if (prepasswd !== '' && newpasswd !== '') {
                if (all_number2) {
                    alert("密码不能纯数字");
                    return;
                }
                if (all_number1) {
                    alert("密码不能纯数字");
                    return;
                }
                if (prepasswd.length <= 3 || newpasswd.length <= 3) {
                    alert("密码长度需大于3个字符");
                    return;
                }
                if (prepasswd !== newpasswd) {
                    alert("两次密码不匹配");
                    return;
                }
            } else {
                alert("密码不能为空")
                return;
            }
            $.ajax({
                type: 'POST',
                url: '',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'prepasswd': prepasswd,
                    'newpasswd': newpasswd,
                },
                success: function (result) {
                    if (result.toString() == 'no') {
                        alert("密码修改失败");

                    } else {
                        window.location.replace('/login/');
                    }
                },
                error: function (result) {
                    alert("错误");

                }
            });
        })
    </script>
</body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark shadow fixed-bottom" style="height: 50px;">
    <div class="container">
        <div class="custom-control-inline" style="margin: 0 auto;">
            <div class="navbar-text">
                <div class="nav-link">Copyright &copy; 2020.Zhejiang University All rights reserved.&nbsp;&nbsp;&nbsp;
                    <a target="_blank" href="http://www.zju.edu.cn">浙江大学官网</a>
                </div>
            </div>
            <div style="width:250px; margin:0 auto; padding:20px 0;">
                <a target="_blank"
                   href="http://beian.miit.gov.cn/"
                   style="display:inline-block; text-decoration:none; height:20px; line-height:20px;">
                    <p style="float:left; height:20px; line-height:20px; margin: 0px 0px 0px 5px; color:white;">
                        浙ICP备2020034971号
                    </p>
                </a>
            </div>
            <div style="width:250px; margin:0 auto; padding:20px 0;">
                <a target="_blank"
                   href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602011276"
                   style="display:inline-block; text-decoration:none; height:20px; line-height:20px;">
                    <img src="../../../static/common/img/beian.png" style="float:left;"/>
                    <p style="float:left; height:20px; line-height:20px; margin: 0px 0px 0px 5px; color:#939393;">
                        浙公网安备 33010602011276号
                    </p>
                </a>
            </div>
        </div>
    </div>
</nav>
</html>