<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/common/img/icon.jpg" rel="icon">
    <link href="../../static/common/css/bootstrap.min.css" rel="stylesheet">

    <script src="../../static/common/js/bootstrap.min.js"></script>
    <script src="../../static/common/js/jquery.min.js"></script>
    <script src="../../static/common/js/popper.min.js"></script>
</head>
<body>
<h1>找回密码</h1>

<div class="container">
    <div class="form-group">
        <div class="form-group">
            <label for="name">用户名:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <label for="email">邮箱:</label>
        <input type="email" class="form-control" id="email">
    </div>

    <input type="button" class="btn btn-primary" id="forget" value="找回">
    <h2 id="hint"></h2>
</div>

<script>
    $('#forget').click(function () {

        let email = $("#email").val();
        let username = $("#name").val();

        if (username.length <= 3) {
            alert("用户名长度需大于3个字符");
            return;
        }
        var is_email = new RegExp("^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$").test(email);
        if (!is_email) {
            alert("邮箱格式错误");
            return;
        }
        $.ajax({
            type: 'POST',
            url: '',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'username': username,
                'email': email,
            },
            success: function (result) {
                if (result.toString() == 'no') {
                    alert("密码修改失败");

                } else {
                    alert("重置密码链接已经发送至您的邮箱，请查收")
                }
            },
            error: function (result) {
                alert("错误");

            }
        });
    })
</script>
</body>
</html>